# Dependencies
node_modules/
client/node_modules/

# Environment variables
.env
.env.local

# Contratos gerados
contratos/
*.docx
*.pdf

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
client/build/
dist/
